.sign-up-root{
    background-color: #fed700;
}
.sign-up{
    display: grid;
    grid-template-columns: 5fr 4fr;
}

.sign-up-content{

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
}
.sign-up-content .sign-up-text{
    font-size: 14px;
}
.sign-up-title{
    font-size: 22px;
    font-weight: 200;
}
.sign-up-title i{
    margin-right: 0.5em;
}

.sign-up-form{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sign-up-form input{
    width: 350px;
    padding: 0.8em 0.8em 0.8em 2em;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 25px 0px 0px 25px;
    color: rgba(0, 0, 0, 0.7);
}
.sign-up-form button{
    width: 100px;
    padding: 0.8em;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 0px 25px 25px 0px;
    background-color: #333e48;
    color: #fff;
}
.sign-up-form button:hover{
    background-color: #111;
}

@media only screen and (max-width: 1199px){
    .sign-up{
        grid-template-columns: 1fr 2fr;
    }
    .sign-up-text{
        display: none;
    }
}
@media only screen and (max-width: 850px){
    .sign-up-title{
        font-size: 2vw;
        font-weight: 200;
    }
    .sign-up{
        grid-template-columns: 1fr 1fr;
    }
    .sign-up-form input{
        width: 70%;
        font-size: 2vw;
    }
    .sign-up-form button{
        width: 30%;
        padding: 0.8em;
        font-size: 2vw;
    }
}
@media only screen and (max-width: 676px){
    .sign-up{
        padding-bottom: 1em;
    }
    .sign-up-title{
        font-size: 3vw;
        font-weight: 200;
    }
    .sign-up{
        grid-template-columns: 1fr;
    }
    .sign-up-form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sign-up-form input{
        width: 50vw;
        font-size: 2vw;
    }
    .sign-up-form button{
        width: 20vw;
        padding: 0.8em;
        font-size: 2vw;
    }   
}

@media only screen and (max-width: 500px){
    .sign-up-title{
        font-size: 4vw;
    }
    .sign-up-form input{
        width: 50vw;
        font-size: 3.5vw;
    }
    .sign-up-form button{
        font-size: 3.5vw;
    }   
}