.special-big-ad
{
    border: 2px solid #fed700;
    border-radius: 20px;
}
.special-big-ad-top
{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.special-big-ad-top p
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 0px;
    color: rgba(0, 0, 0, 0.7);
}

.special-big-ad-top .round-cost
{
    width: 80px;
    height: 80px;
    background-color: #fed700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
}
.round-cost span{
    
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}
.round-cost p{
    font-size: 20px;
    font-weight: bolder;
    color: #111;
    font-size: 18px;
}

.special-big-ad-img
{
    text-align: center;
}


.special-big-ad-bottom
{
    text-align: center;
}
.game-console
{
    font-size: 15px;;
    font-weight: bold;
    color: #0062bd !important;
}
.game-console-cost
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-console-cost .old-cost
{
    text-decoration: line-through;
    font-weight: 200;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    margin-right: 10px;
}

.game-console-cost .new-cost{
    color: red;
    font-size: 25px;
}
.availavle-count
{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    padding: 0px 20px;
}

.special-big-ad-bottom .hurry{
    color: rgba(0, 0, 0, 0.6);
}
.special-big-ad-bottom .timer
{
    display: flex;
    justify-content: space-evenly;
}

.timer-item p{
    font-size: 12px;
}

.times-up
{
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 20px !important;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 15px;
    margin: 0px;
}


@media screen and (max-width: 700px){
    .special-big-ad {
        width: 70vw;
        margin: 0px auto;
        height: 770px;
    }
    .timer
    {
        display: none;
    }

}

@media screen and (max-width: 500px){
    .times-up
    {
        display: inline-block;
    }
    .special-big-ad {
        width: 80vw;
        margin: 0px auto;
        height: 650px;
    }
    .special-big-ad-img img{
        width: 55vw;
    }
}