.topBar-row
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.top-bar
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.6);
	z-index: 10;
}

.top-right
{
	display: flex;
	justify-content: space-between;
}

.top-right img
{
	display: inline;
	vertical-align: middle;
	position: absolute;
	left: -5px;
	top: 50%;
	width: 25px;
	transform: translate(0%, -50%);
}
.top-right p
{
	align-items: center;
	margin: 0px;
	align-self: center;
	padding: 3px 2em;
	position: relative;
	border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.sign-icon{
	cursor: pointer;
}
@media only screen and (max-width: 1200px) {
	.topBar-row{
		display: none;
	}
}