.quantity{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid rgba(0, 0, 0 , 0.4);
	padding: 5px ;
	border-radius: 40px;
	width: 130px;
	margin-right: 1em;
}
.quantity i{
	width: 20px;
	padding: 5px 3px;
	text-align: center;
	margin: 5px;
	border-radius: 50%;
	transition:0.4s; 
}
.quantity i:hover{
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}
