.sliding-window{
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
}

.window-show{
    z-index: 15;
    display: block;
}
.window-hide{
    display: none;
}

.transparent{
	background-color: transparent;
}